.App {
  text-align: center;
  font-size: 14px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* ###################### */



.container {
  margin: 30px 50px;
  padding: 25px;
}


/* General */

.link-button {
  background-color: unset;
  border: unset;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;

}


.float-right {
  float: right;
}

.textLeft {
  text-align: left;
}

/* Form ***********/

.form-control {

  width:100%;
  border: 1px solid grey;
  padding: 10px;
  margin: 20px;  

}
.form-control > * {
  display: block;
  padding: 7px;
  margin: 10px auto;
}


.form-control div *:not(button) {
  font-size: inherit;
}
.form-control label{
  font-weight: bold !important;
}

/* .form-control button {
  padding: 10px;
  text-transform: uppercase;
  background-color: lightskyblue;
  border: 1px solid lightgray;
} */


.main-header {
  padding: 4px;
  background-color: #613569;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header > * {
  margin: auto 20px;
}

.main-header-right a {
  margin: 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.main-header-right a:last-child{
  margin-right: 0px;
}

.main-header-right a:hover{
  border-bottom: 2px solid white;

}
.main-header-right a:active,
.main-header-right a.active {
  border-bottom: 2px solid white;
  font-weight: 600;
}




.main-header-left {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.main-header-left h4 {
  margin-left: 20px;
}


.button, .form-control button {
  padding: 10px;
  background-color: #2fd7f3;
  font-weight: 600;
  border: 0;
  box-shadow: 3px 2px 3px lightblue;
}

.button:focus, .button:hover, .button:active,
.form-control button:focus, .form-control button:hover, .form-control button:active {
  outline: none;
  box-shadow: 1px 1px lightblue;
}



/****** File Upload ******/
.fileUploadContainer {
  position: relative;
}

.fileUploadContainer label {
  position: absolute;
  top: 0;
  left: 0;
}

.fileUploadContainer input {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 67px;
  height: 38px;
  vertical-align: middle;
  opacity: 0;

}